<% layout("layouts/boilerplate")%>
<div id="index-bg"></div>
<%- include("../partials/navbar")%>
<!-- Vignette -->
<div id="vignette">
  <div id="vignette-left"></div>
  <div id="vignette-right"></div>
  <div id="vignette-top"></div>
  <div id="vignette-bottom"></div>
</div>
<div id="index-container">
  <div id="index-titlebar-container">
    <h1>All Parks</h1>
    <a href="/parks/new">Add Park</a>
  </div>
  <ul id="index-ulist">
    <% for (let park of parks) { %>
    <li class="index-li">
      <a href="/parks/<%= park._id %> "
        ><img src="<%= park.image %>" alt=""
      /></a>
      <a href="/parks/<%= park._id %> "><%= park.title %></a>
    </li>
    <% } %>
  </ul>
</div>
<%- include("../partials/footer")%>
